.wrapper {
  display: flex;
  background-color: red;
  height: 300px;
  align-items: baseline;
  
}
.item {
  background-color: pink;
  padding: 20px;
}
.item-1 {
  font-size: 20px;
}
.item-2 {
  font-size: 30px;
}
.item-3 {
  font-size: 50px;
}
