* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 30px;
}
.row .col {
  text-align: center;
  background: cyan;
  min-height: 50px;