* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}
header {
  background: black;
  height: 200px;
}
nav {
  background: crimson;
  height: 70px;
}
aside {
  width: 20%;
  height: 500px;
}
#aside1 {
  float: left;
  background: green;
}
#aside2 {
  float: right;
  background: red;
}
main {
  width: 60%;
  height: 500px;
  background: blue;
  float: left;
}
footer {
  height: 200px;
  background: cyan;
}
.a {
  clear: both;
}
/*  RESPONSIVUTYUNN APAHOVELU HAMAR*/
@media screen and (max-width: 700px) {
  aside {
    width: 100%;
  }
  main {
    width: 100%;
    height: 600px;
  }
}
